<html>
  <head><title>Twitter Unicode Encode</title></head>
  <body>
    <div align="center">
      <form action="{% url twuuenc.web.views.index %}" method="POST">
        <p>From {{ encode_form.input }} Into {{ encode_form.output }}</p>
        <p>Use zlib (de)compression: {{ encode_form.compress }}</p>
        <input type="submit" value="Encode" />
      </form>
      {% ifnotequal input_len 0 %}
      <table>
        <tr><td>Input Length:</td><td>{{ input_len }}</td></tr>
        {% if compressed %}
        <tr><td>Compressed Length:</td><td>{{ compressed_len }}</td></tr>
        {% endif %}
        <tr><td>Output Length:</td><td>{{ output_len }}</td></tr>
      </table>
      {% endifnotequal %}
    </div>
  </body>
</html>
