<html>
  <head><title>Twitter Unicode Encode</title></head>
  <body>
    <div align="center">
      <h1>Web2.0 uuencode!<h2>
      <h3>u is for unicode, not unix</h3>
      <p>
      No longer be limited by 140 ASCII characters, encode your message in unicode. Borrowing from the <a href="http://en.wikipedia.org/wiki/Base64">Base64</a> metaphor, this technique uses a 2048 count alphabet to encode your message. That means each character can hold up to 11 bits of your data, allowing you a total of 192 bytes in the space you previously thought you could only store 140. You can also transfer binary data!
      </p>
      <p>Enter your longer than 140 tweet and watch it shrink. If it's still too long enable compression to shrink it further! OR Leave the input field blank and enter the unicode string to decode in the field on the right.</p>
      <form action="{% url twuuenc.web.views.index %}" method="POST">
        <p>From {{ encode_form.input }} Into {{ encode_form.output }}</p>
        {% if encode_form.input.errors or encode_form.output.errors %}
        <p>These fields can contain no more than 512 characters</p>
        {% endif %}
        <p>Use zlib (de)compression: {{ encode_form.compress }}</p>
        <p>Include twuuenc markers: {{ encode_form.markers }}</p>
        <input type="submit" value="Encode" />
      </form>
      {% ifnotequal input_len 0 %}
      <table>
        <tr><td>Input Length:</td><td>{{ input_len }}</td></tr>
        {% if compressed %}
        <tr><td>Compressed Length:</td><td>{{ compressed_len }}</td></tr>
        {% endif %}
        <tr><td>Output Length:</td><td>{{ output_len }}</td></tr>
      </table>
      {% endifnotequal %}
      <p>You can optionally enable the unicode markers (which unfortunately will use 2 characters of your tweet) to signify that the following portion needs to be decoded. A {{ clean_marker }} means the following message has no binary compression, while a {{ zlib_marker }} means the following message has been compressed by zlib.
    </div>
  </body>
</html>
